<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @event.user.name %></h1>
    <p>The conversation at your event <%= @event.name %> has started, go ahead and check out what people are saying about it.</p>
    <p>Sincerly,</p>
    <p>Zarhoff team</p>
  </body>
</html>