<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello,</h1>
    <p>Thanks for joining Heyah! Now you can create your event and see what everyone is saying about it. Post any important messages and let the conversation begin!</p>
    <p>Sincerly,</p>
    <p>Zarhoff team</p>
  </body>
</html>