<% provide(:title, 'Registration') %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="center">Sign up</h1>
    <%= form_for @user, html: { 'data-parsley-validate' => '' } do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "long btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
