<% provide(:title, 'About Me') %>
<h1>About Heyah</h1>
<p>The Heyah application allows people in the same event to post their opinions anonymously or signed in about the event. Through your location, you will be taken to the event where you are at. The content is generated and rated by the users with an upvote/downvote system that helps the best posts get noted in a trending section.
</p>