<footer class="footer container">
  <small>
    <a href="https://github.com/DiegoGarza/EventFeed">Heyah App</a>
    by Ricardo Canales, Gustavo Ferrufino, Diego Garza and Eduardo Zardain
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>